<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anomaly Detection</title>
</head>
<body>
<form action="/dummy_detect" method="post" enctype="multipart/form-data" name="searchForm" target="result">
    <table>
        <tr>
            <td><input type="file" name="learn_csv"></td>
            <td>learn_csv</td>
        </tr>
        <tr>
            <td><input type="file" name="anomaly_csv"></td>
            <td>anomaly_csv</td>
        </tr>
        <tr>
            <td><input type="text" name="model_type"></td>
            <td>model type</td>
        </tr>
        <br>
    </table>
    <input type="submit" value="send files">
</form>
<br>
<iframe name="result" width="80%" height="500"></iframe>
</body>
</html>
